
<!-- Display calendar related information and filters  -->

<!--<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">Calendar</h4>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            /*
            var appointments = new Array();
            var appointment1 = {
                id: "id1",
                showName: "Aladdin",
                location: "",
                description: "This is the Description.",
                calendar: "Room 1",
                start: new Date(2015, 10, 23, 9, 0, 0),
                end: new Date(2015, 10, 23, 16, 0, 0),
                admin: "Raihan Ahmed"
            }
            var appointment2 = {
                id: "id2",
                showName: "Wicked",
                location: "",
                description: "This is the Description.",
                calendar: "Room 2",
                start: new Date(2015, 10, 24, 10, 0, 0),
                end: new Date(2015, 10, 24, 15, 0, 0),
                admin: "Raihan Ahmed"

            }
            var appointment3 = {
                id: "id3",
                showName: "Lion King",
                location: "",
                description: "This is the Description.",
                calendar: "Room 3",
                start: new Date(2015, 10, 27, 11, 0, 0),
                end: new Date(2015, 10, 27, 13, 0, 0),
                admin: "Raihan Ahmed"

            }
            var appointment4 = {
                id: "id4",
                showName: "Up",
                location: "",
                description: "This is the Description.",
                calendar: "Room 2",
                start: new Date(2015, 10, 23, 16, 0, 0),
                end: new Date(2015, 10, 23, 18, 0, 0),
                admin: "Raihan Ahmed"

            }
            var appointment5 = {
                id: "id5",
                showName: "Finding Nemo",
                location: "",
                description: "This is the Description.",
                calendar: "Room 1",
                start: new Date(2015, 10, 25, 15, 0, 0),
                end: new Date(2015, 10, 25, 17, 0, 0),
                admin: "Raihan Ahmed"
               
            }
            var appointment6 = {
                id: "id6",
                showName: "Wizard",
                location: "",
                description: "This is the Description.",
                calendar: "Room 4",
                start: new Date(2015, 10, 26, 14, 0, 0),
                end: new Date(2015, 10, 26, 16, 0, 0),
                admin: "Raihan Ahmed"
               
            }
            appointments.push(appointment1);
            appointments.push(appointment2);
            appointments.push(appointment3);
            appointments.push(appointment4);
            appointments.push(appointment5);
            appointments.push(appointment6);
            // prepare the data
            var source =
            {
                dataType: "array",
                dataFields: [
                    { name: 'id', type: 'string' },
                    { name: 'description', type: 'string' },
                    { name: 'location', type: 'string' },
                    { name: 'showName', type: 'string' },
                    { name: 'calendar', type: 'string' },
                    { name: 'start', type: 'date' },
                    { name: 'end', type: 'date' },
                    { name: 'admin', type: 'string'}
                ],
                id: 'id',
                localData: appointments
            };
            var adapter = new $.jqx.dataAdapter(source);
            var addActorsButton = null;
            var addStaffButton = null;
            var statusList = null;
            var pocName = null;
            var pocInfo = null;
            var adminField = null;


            $("#scheduler").jqxScheduler({
                date: new $.jqx.date(new Date()),
                width: '100%',
                height: 900,
                source: adapter,
                view: 'weekView',
                showLegend: false,
                editDialog: true,
                ready: function () {
                    $("#scheduler").jqxScheduler('ensureAppointmentVisible', 'id1');
                },
                editDialogCreate: function(dialog, fields, editAppointment){
                    fields.subjectLabel.html("Show Name");
                    fields.fromLabel.html("Start Time");
                    fields.toLabel.html("End Time");
                    fields.timeZoneContainer.hide();
                    fields.descriptionLabel.html("Comments");
                    fields.allDayContainer.hide();
                    fields.statusContainer.hide();
                    fields.colorContainer.hide();
                    fields.resourceContainer.hide();
                    //fields.adminLabel.html("Administrator");

                    addActorsButton = $("<button style='margin-left: 5px; float:right;'>Add Actors</button>");
                    fields.buttons.append(addActorsButton);
                    addActorsButton.jqxButton({ theme: this.theme });

                    addStaffButton = $("<button style='margin-left: 5px; float:right;'>Add Staff</button>");
                    fields.buttons.append(addStaffButton);
                    addStaffButton.jqxButton({ theme: this.theme });

                    //$("#scheduler").children().last().before($("#AdminContainer").html());

         //         $("#scheduler").on('appointmentChange', function(event) {
          //            var args = event.args;
           //           var appointment = args.appointment;
            //          appointment.admin = $("#adminValue").val();
             //     });
                },
                editDialogOpen: function(dialog, fields, editAppointment) {
                    //$("#adminValue").val(editAppointment.admin);
                },
                resources:
                {
                    colorScheme: "scheme05",
                    dataField: "calendar",
                    source: new $.jqx.dataAdapter(source)
                },
                appointmentDataFields:
                {
                    from: "start",
                    to: "end",
                    id: "id",
                    description: "description",
                    location: "place",
                    subject: "showName",
                    resourceId: "calendar",
                    admin: "admin"
                },
                views:
                [
                    'dayView',
                    'weekView',
                    'monthView'
                ]
            });*/
        });
    </script>
     <div class="panel-body">
        <div id="scheduler-old"></div>
        <!s--
       <div id="AdminContainer">
        <div class="jqx-scheduler-edit-dialog-label">Administrator</div>    
        <div class="jqx-scheduler-edit-dialog-field"><input type="text" id="adminValue" /></div> 
          as
        </div> 
    </div>
</div>
-->