
<div class="row">

	<div class="col-md-4">
		<div class="panel panel-default">

			<div class="panel-heading">
				<h4 class="panel-title">Calendar</h4>
			</div>
			<div class="panel-body">

				<!-- Insert mini calendar here -->
				<div id="dash-calendar" minical></div>

				Upcoming Events:
			</div>
		</div>
	</div>

	<div class="col-md-8">
		<div class="panel panel-default">
		<div class="panel-body">
			Notifications
		</div>
		</div>
	</div>

</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title"> Welcome, User</h4>
    </div>
   
</div>