
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">Welcome, {{user.first_name}} {{user.last_name}} ({{user.email}})</h4>
    </div>
</div>
<div class="row">

	<div class="col-md-4">
		<div class="panel panel-default">

			<div class="panel-heading">
				<h4 class="panel-title">Calendar</h4>
			</div>
			<div class="panel-body">

				<!-- Insert mini calendar here -->
				<div id="dash-calendar" minical></div>

				<br/>
				Upcoming:
				<ul class="list-sharp">
					<li ng-repeat="evt in upcoming" ng-class="{divider: evt.divider }">
						<a href="#/e/{{evt.id}}" ng-if="!evt.divider">
							{{evt.title}}, {{evt._start}} Tues.
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-8">

		<!-- Notifications panel -->
		<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Notifications</h4>
			<span class="pull-right"><a href="#/notifications">View All</a></span>
		</div>
		<div class="panel-body">
			<ul class="list notifications-list">

				<li ng-hide="notifications.length == 0" ng-repeat="notif in notifications">
					<div class="alert" ng-class="notif.type">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

						{{notif.text}}
					</div>
				</li>

				<li ng-show="notifications.length == 0">You have no notifications</li>
			</ul>
		</div>
		</div>
		<!-- End notifications panel -->

		<div class="row">
		
		<div class="col-md-12">
			<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Shows Missing Actors</h4>
			</div>
			<div class="panel-body">
				None
			</div>
			</div>
		</div>
		</div>
		<div class="row">
		<div class="col-md-12" ng-controller="AccountRequestController">
			<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Account Requests</h4>
			</div>
			<div class="panel-body">
			
				<table id="accountRequestsTable">
    	        <thead>
    	        	<th>First Name</th>
    	        	<th>Last Name</th>
    	        	<th>Email</th>
    	        	<th>User Access</th>
    	        	<th>Accept</th>
    	        	<th>Reject</th>    	        	
    	        </thead>
    	        <tbody>
    	        	<tr ng-repeat="request in requests">
        	        	<td>{{request.first_name}}</td>
        	        	<td>{{request.last_name}}</td>
        	        	<td>{{request.email}}</td>
        	        	<td>{{request.role_name}}</td>
        	        	<td>ACCEPT</td>
        	        	<td>REJECT</td>

                    </tr>                                                                             	        	      	
    	        </tbody>                
    	        </table>
    	    -   
			</div>
			</div>
			<script> $('#accountRequestsTable').dataTable(); </script>
		</div>
		</div>
		</div>

	</div>

</div>



   
</div>

