
<div class="row">

	<div class="col-md-4">
		<div class="panel panel-default">

			<div class="panel-heading">
				<h4 class="panel-title">Calendar</h4>
			</div>
			<div class="panel-body">

				<!-- Insert mini calendar here -->
				<div id="dash-calendar" minical></div>

				<br/>
				<ul class="list-sharp">
					<li><a>Show 1, 4pm Tues.</a></li>
					<li><a>Show 2, 6pm Tues.</a></li>
					<li class="divider"></li>
					<li>Show 3, 3pm Tomorrow</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-8">

		<!-- Notifications panel -->
		<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Notifications</h4>
		</div>
		<div class="panel-body">
			<ul class="list-sharp">
				<li>You have no notifications</li>
			</ul>
		</div>
		</div>
		<!-- End notifications panel -->

		<div class="row">
		
		<div class="col-md-6">
			<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Placeholder</h4>
			</div>
			<div class="panel-body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis malesuada erat scelerisque cursus. Maecenas efficitur in turpis et elementum...
			</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Placeholder 2</h4>
			</div>
			<div class="panel-body">
				Nothing to show
			</div>
			</div>
		</div>
		</div>

	</div>

</div>
