
<div class="col-md-12">
	<div class="panel">
	<div class="panel-body">
		<h4>
			Event Name
		</h4>
	</div>
	</div>
</div>


<div class="col-md-4">
	<div class="panel">
	<div class="panel-body">
		Location:
		<br/>Map
	</div>
	</div>

	<div class="panel">
	<div class="panel-body">
		Description:
		Stuff
	</div>
	</div>

</div>

<div class="col-md-8">
	<div class="panel">
	<div class="panel-body">
		<div>Edit</div>
		<div>Start: Time</div>
		<div>End: Time</div>

		<div>Venue info</div>
	</div>
	</div>

	<div class="panel">
	<div class="panel-body">
		<div>Actors</div>

		<input type="text" class="form-control" />

		<ul class="list">
			<li>Person</li>
			<li>Person 2</li>
			<li>Person 3</li>
		</ul>

	</div>
	</div>
</div>