
	<div class="col-md-12">
		<div class="panel panel-default">
		<div class="panel-heading">
		<h4>Messages</h4> 
		</div>

		<div class="panel-body">
<div class="col-md-12">

    <hr />
    <div class="">
        <div class="col-sm-1 col-md-1">
            <a class="btn btn-danger btn-sm btn-block" data-toggle="modal" data-target="#composeModal" role="button">COMPOSE</a>
            <hr />
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><span class="badge pull-right">42</span> Inbox </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-11 col-md-11">
            <!--tabs -->
            <!--
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-inbox">
                </span>Primary</a></li>
            </ul> -->
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <div class="list-group">
                        <a href="#" class="list-group-item read">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                </label>
                            </div>
                            </span>
                            <span class="name" style="min-width: 120px;
                               display: inline-block;">Raihan Ahmed
                           </span> 

                                <span class="">Cover my shift?</span>

                            <span class="text-muted" style="font-size: 11px;">- Hello, I was wondering...</span> 

                            <small class="text-muted notif-date">2/4/2016 2:23 PM</small>
                            <span class="pullright">

                                </span>
                            </a>

                                <a href="#" class="list-group-item read">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">
                                        </label>
                                    </div>
                                    <span class="name" style="min-width: 120px;
                                        display: inline-block;">Bhaumik Patel</span> 
                                        <span class="">This is big title</span>
                                    <span class="text-muted" style="font-size: 11px;">- Hi hello how r u ?</span> 
                                    <small class="text-muted notif-date">2/4/2016 2:23 PM</small> 
                                    <span class="pull-right"></span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox">
                                                </label>
                                            </div>
                                            </span>
                                            <span class="name" style="min-width: 120px;
                                                display: inline-block;">Bhaumik Patel</span> 
                                            <span class="">This is big title</span>
                                            <span class="text-muted" style="font-size: 11px;">- Hi hello how r u ?</span>  <small class="text-muted notif-date">2/4/2016 2:23 PM</small> 
                                            <span class="pull-right"></span>
                                        </a>
                    </div>
                </div>
<!-- Modal -->
<div id="composeModal" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Compose Message</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
            </div>

        </div>
        <!-- Bottom buttons -->


    </div>
</div>

		</div>
		</div>
	</div>