<div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">Timesheets</h4>
    </div>
  </div>
  <!-- Pay View panel -->
  <div id="half">
    <div class="panel panel-default text-center " class="col-centered">
      <div class="panel-heading">
        <h2 class="panel-title">
          <strong> Timesheet </strong>
        </h2>
      </div>
      <div id="adminView" ng-show="timeSheetShowFlag" class="panel-body"
        style="width: 100% margin-bottom:10px margin-left:38px">
          
          <label id="Selectdate" class="control-label col-sm-4"> 
            Date: {{date | date : 'MM/dd/yyyy'}} </label>
        
        <table style="float: right; margin-bottom: 100px;">
          <tr>
            <td>
              <!-- <label class="control-label col-sm-4" for="date"> Select Range</label> 
     <span ng-show="date">{{date | date: "M/d/yyyy"}}s--> <jqx-date-time-input
                ng-model="date" id="date" jqx-settings="dateInputSettings"
                style="display:inline-block;"></jqx-date-time-input>
            </td>
          </tr>
        </table>
        <jqx-tabs jqx-width="'100%'">
        <ul >
                        <li>Timesheet</li>
                        <li>Users</li>
                    </ul>
             <div class="row">
                <!-- Timesheet Grid and Export button    -->
                           <div class="col-md-12">
                                <label for="Timesheet" class="control-label" style="margin: 10px">Current Timesheet:</label>
                                <jqx-grid  id="jqxgrid" jqx-create="createuserList" jqx-settings="timeSheetGridSettings">
                          <jqx-button
                          id="addrowbutton" style="margin: 10px" jqx-settings="addTimesheetEntrySettings">Add
                        Entry </jqx-button>
                                </jqx-grid> 

            <jqx-button jqx-settings="exportButtonSettings" style="text-align:center; margin: 10px">Export
        to Excel</jqx-button>
                            </div>

       </div>

                             <!-- User List Grid and Export button-->
            <div class="row">
                   <div class="col-md-12">
                      <label for="Users" style="margin: 10px" class="control-label">Current Users:
                      </label>
                      <jqx-grid  id="userGrid" jqx-create="createuserList" jqx-settings="userGridSettings">                       
                      </jqx-grid> 
                      <jqx-button style="margin: 10px" jqx-settings="exportUserButtonSettings">Export
                   Users to Excel</jqx-button>
                  </div>


            </div>
      </jqx-tabs>
   

      </div>












      <div id="userView" ng-show="userFormShowFlag">
       
            <form class="form-default">

    <div class="row">
      <div class="col-sm-2 col-sm-offset-1">
        <label for="site">Site</label>
      </div>
      <div class="col-sm-5">
       <select class="col-sm-5"  id="repeatVenues" ng-model="venueParam" ng-options="venueParam.name">
       <option value = ""> Choose a Venue</option>
       </select>
      </div>
    </div>




    <div class="row">
      <div class="col-sm-2 col-sm-offset-1">
        <label for="hourlyRate">Hourly Rate</label>
      </div>
      <div class="col-sm-3">
        <input type="text" name="hourlyRate" ng-model="newEntry.hourlyRate" class="form-control"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 col-sm-offset-1">
        <label for="travel">Travel</label>
      </div>
      <div class="col-sm-3">
        <input type="text" name="travel" ng-model="newEntry.travel" class="form-control"/>
      </div>


      <div class="col-sm-2">
        <label for="driver">Driver</label>
      </div>
      <div class="col-sm-3">
        <input type="text" name="driver" ng-model="newEntry.driver" class="form-control" />
      </div>
      </div>

      
    

    <div class="row">

        <div class="col-sm-2 col-sm-offset-1">
        <label for="meetingHours">Meeting Hours</label>
      </div>
      <div class="col-sm-3">
        <input type="text" name="meetingHours" ng-model="newEntry.meetingHours" class="form-control"/>
      </div>
      <div class="col-sm-2">
        <label for="watchShow">Watch A Show</label>
      </div>
      <div class="col-sm-3">
        <input type="text" name="watchShow" ng-model="newEntry.watchShow" class="form-control"/>
      </div>
</div>
      <div class="row">
      <div class="col-sm-2 col-sm-offset-1">
        <label for="rehersal">Rehersal</label>
      </div>
      <div class="col-sm-3">
        <input type="text" name="rehersal" ng-model="newEntry.rehersal" class="form-control"/>
      </div>
      <div class="col-sm-2">
        <label for="suitcase">Suitcase</label>
      </div>
      <div class="col-sm-3">
        <input type="text" name="suitcase" ng-model="newEntry.suitcase" class="form-control"/>
      </div>
      
      
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1">
        <label for="hospital">Hospital</label>
      </div>
      <div class="col-sm-2">
        <input type="text" name="hospital" ng-model="newEntry.hospital" class="form-control"/>
      </div>
      
    </div>
   
  <hr/>
      <div class="row">
      <div class="col-sm-2 col-sm-offset-1">
        <label for="comments">Comments</label>
      </div>
      <div class="col-sm-9">
        <textarea name="description" ng-model="newEntry.comments" class="form-control"></textarea>
      </div>
      </div>
      
    <div class="row">
      <div class="col-sm-12">
        <input type="submit" class="btn btn-success pull-right" ng-click="submitEntry()" />
      </div>
    </div>
    </form> 
                  
               
    </div>
    <!-- End User View -->     
  </div>
</div>