<div ng-controller="PayPageController">
<div class="panel panel-info" >
   <div class="panel-heading">
    <h4 class="panel-title">Timesheets </h4>
</div>

</div>
<!-- Pay View panel -->
<div id="half">
  <div class="panel panel-default text-center " class= "col-centered">
      <div class="panel-heading">
         <h2 class="panel-title"><strong>
          <span ng-show="date"> {{date | date: "MMMM dd yyyy"}}</span>
          Timesheet 
         </strong>
       </h2>
    
     </div>

<div class="panel-body"  style="width: 100%">  
<div id="datepicker" align="left">
<div class="jqx-scheduler-edit-dialog-label" style="width:10%; margin-bottom:15px ">Select Date</div>
 <jqx-date-time-input ng-model="date" jqx-settings="dateInputSettings"></jqx-date-time-input>      
</div>
            <jqx-grid id="jqxgrid" jqx-source="timeSheet" jqx-settings="timeSheetGridSettings"></jqx-grid>  
            <jqx-window id="timeSheetWindow" jqx-settings="timeSheetWindowSettings">


</div>


</div>