<div ng-controller="PayPageController">
<div class="panel panel-info" >
   <div class="panel-heading">
    <h4 class="panel-title">Timesheets </h4>
</div>

</div>
<!-- Pay View panel -->
<div id="half">
  <div class="panel panel-default text-center " class= "col-centered">
      <div class="panel-heading">
         <h2 class="panel-title"><strong>
          
          Timesheet 
         </strong>
       </h2>
    
     </div>



<div class="panel-body"  style="width: 100% margin-bottom:10px margin-left:38px">  
<div id="selectDate"class="jqx-scheduler-edit-dialog-label" style="width:120px;">   Date : <span ng-show="date"> {{date | date: "M/d/yyyy"}}</span></div>

</br></br></br>
<div style="margin-left:2%">
<table style="float:left; ">
  <tr>
<td id="datepicker" class="jqx-scheduler-edit-dialog-label" style="width:90px; margin-bottom:15px "> Select Date </td>
  <td>
<jqx-date-time-input ng-model="date" jqx-settings="dateInputSettings" style="display:inline-block;"></jqx-date-time-input>     </td>
</tr>
</table>
</div>
            <jqx-grid id="jqxgrid" jqx-source="timeSheet" jqx-settings="timeSheetGridSettings"></jqx-grid>  
            <jqx-window id="timeSheetWindow" jqx-settings="timeSheetWindowSettings">


</div>


</div>