<!-- Display calendar related information and filters  -->
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">Scheduler</h4>
    </div>

     <div class="panel-body">
        <jqx-scheduler jqx-create="createScheduler" id="scheduler" jqx-settings="settings">



    </jqx-scheduler>
    <div ng-controller="EventMaintenanceController" style="display:none;" id="EventMaintenanceController">
    <jqx-window  id="eventMaintenanceWindow" jqx-instance="eventMaintenanceWindow" jqx-settings="eventMaintenanceWindowSettings">
			<div>Event Maintenance</div>
			<div>
				<h5>Do you want to approve or reject s account request?</h5>
			</div>
			</jqx-window>
		</div>
    </div>
</div>

