

<div class="col-md-12">

<div class="profile-header text-center">
	<div class="profile-name">{{user.email}}</div>
	<div class="profile-img">
		<img class="profile-med" 
			src="resources/images/tameem.jpg" alt="Profile Picture" />
	</div>
</div>

</div>

<div class="col-md-4">

<div class="panel panel-info">
	<div class="panel-heading">
		<div class="panel-title">Info</div>
	</div>
	<div class="panel-body">

		Email: {{user.email}}

	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">Scripts</div>
	</div>
	<div class="panel-body">

		<ul class="list-sharp">
			<li>
				Script 1
			</li>
			<li>
				Script 2
			</li>
		</ul>

	</div>
</div>

</div>

<div class="col-md-8">
<div class="panel panel-success">

	<div class="panel-heading">
		<div class="panel-title">Upcoming Events</div>
	</div>

	<div class="panel-body">

		<ul class="list-sharp">
			<li>
				Event 1
			</li>
			<li>
				Event 2
			</li>
		</ul>

	</div>

</div>

<div class="panel panel-warning">

	<div class="panel-heading">
		<div class="panel-title">Past Events</div>
	</div>
	
	<div class="panel-body">

		<ul class="list-sharp">
			<li>
				Event 1
			</li>
			<li>
				Event 2
			</li>
		</ul>

	</div>

</div>
</div>