
<div class="col-md-12">

<div class="panel profile-main">
	<div class="panel-body">

		<div class="profile-img">
		<img class="profile-med" 
			src="resources/images/tameem.jpg" alt="Profile Picture" />
		</div>

		<div class="profile-username">
			{{user}}
		</div>

		<div class="profile-role">
			Admin
		</div>

		<div class="col-md-4 profile-sidebar">
		<div class="panel">
			<div class="panel-body">
				
				<h4>Scripts</h4>

				<ul class="list-sharp">
					<li>
						Script 1
					</li>
					<li>
						Script 2
					</li>
				</ul>

			</div>
		</div>
		</div> <!-- End profile sidebar -->

		<div class="col-md-8 profile-body">
		<div class="panel">

			<div class="panel-body">

				<h4>Upcoming Events</h4>

				<ul class="list-sharp">
					<li>
						Event 1
					</li>
					<li>
						Event 2
					</li>
				</ul>

			</div>

		</div>

		<div class="panel">

				<div class="panel-body">

				<h4>Past Events</h4>

				<ul class="list-sharp">
					<li>
						Event 1
					</li>
					<li>
						Event 2
					</li>
				</ul>

			</div>

		</div>
		</div> <!-- End Profile-body -->

	</div>
</div>

</div>

<div class="col-md-4">

<div class="panel">
	<div class="panel-body">
		
		<h4>Scripts</h4>

		<ul class="list-sharp">
			<li>
				Script 1
			</li>
			<li>
				Script 2
			</li>
		</ul>

	</div>
</div>

</div>

<div class="col-md-8">
<div class="panel">

		<div class="panel-body">

		<h4>Upcoming Events</h4>

		<ul class="list-sharp">
			<li>
				Event 1
			</li>
			<li>
				Event 2
			</li>
		</ul>

	</div>

</div>

<div class="panel">

		<div class="panel-body">

		<h4>Past Events</h4>

		<ul class="list-sharp">
			<li>
				Event 1
			</li>
			<li>
				Event 2
			</li>
		</ul>

	</div>

</div>
</div>