

<div class="col-md-12">

<div class="profile-header text-center">
	
	<div class="profile-name" ng-if="user.first_name == null">{{user.email}}</div>
	<div class="profile-name" ng-if="user.first_name">{{user.first_name}} {{user.last_name}}</div>
	
	<div class="profile-img">
		<img class="profile-med" 
			src="resources/images/tameem.jpg" alt="Profile Picture" />
	</div>
</div>

</div>

<div class="col-md-4">

<div class="panel panel-info">
	<div class="panel-heading">
		<div class="panel-title">Info</div>
	</div>
	<div class="panel-body profile-body">

		<p><strong>Email:</strong> {{user.email}}</p>
		<p ng-if="user.phone_number"><strong>Number:</strong> {{user.phone_number}}</p>
		<p>{{user.role_name}}</p>

	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">Scripts</div>
	</div>
	<div class="panel-body">

		<ul class="list-min">
			<li>
				Script 1
			</li>
			<li>
				Script 2
			</li>
		</ul>

	</div>
</div>

</div>

<div class="col-md-8">
<div class="panel panel-success">

	<div class="panel-heading">
		<div class="panel-title">Upcoming Events</div>
	</div>

	<div class="panel-body">

		<ul class="list-min">
			<li>
				Event 1
			</li>
			<li>
				Event 2
			</li>
		</ul>

	</div>

</div>

<div class="panel panel-warning">

	<div class="panel-heading">
		<div class="panel-title">Past Events</div>
	</div>
	
	<div class="panel-body">

		<ul class="list-min">
			<li>
				Event 1
			</li>
			<li>
				Event 2
			</li>
		</ul>

	</div>

</div>
</div>