<div class="col-md-12">
<div class="panel">
	<div class="panel-body">
		<h4>
			{{venue.title}}
		</h4>

	</div>
</div>
</div>

<div class="col-md-8">
<div class="panel">
	<div class="panel-body">
		
		{{venue.description}}

		<br />

		Location:

		<div id="venueMap"></div>

	</div>
</div>
</div>

<div class="col-md-4">
<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">Events</h4>
	</div>

	<div class="panel-body">
		
		No events occurring

	</div>
</div>
</div>