{extends file="layout.html"}

{block name="title"}Admin{/block}

{block name="link"}
<link href="../resources/css/dashboard.css" rel="stylesheet" />
<link href="../resources/css/dashboard-theme.css" rel="stylesheet" />
<link href="../resources/css/style.css" rel="stylesheet" />
<style>
body {
	background:white;
}
</style>
{/block}

{block name="scripts"}
<script type="text/javascript" src="../resources/js/lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../resources/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../resources/js/main.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
{/block}

{block name="main"}

<div id="test-output">
</div>

{/block}