{extends file="layout.html"}

{block name="title"}Dashboard{/block}

{block name="scripts"}
{include file="scripts.partial.html"}
{/block}

{block name="main"}

<!-- Top Navbar -->
<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        
        <ul class="nav navbar-nav navbar-left">
            <li id="menu-btn">
                <a>
                    <span aria-hidden="true">
                        <img src="resources/images/OMB.png" height ="20px" />
                    </span>
                </a>
            </li>
        </ul>
        
        {literal}
        <ul class="nav navbar-nav navbar-left hidden-xs">
            
            <li ng-class="{active:isPage('')}">
                <a href="#/">
                    Home
                </a>
            </li>
            <li ng-class="{active:isPage('scheduler')}">
                <a href="#/scheduler">
                    Schedule
                </a>
            </li>
            <li ng-class="{active:isPage('pay')}">
                <a href="#/pay">
                    Pay
                </a>
            </li>
        </ul>
        {/literal}
        
        <ul class="nav navbar-nav navbar-right">

            {literal}

            <li>
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </a>

                <ul class="dropdown-menu">
                    <li><a>No messages to show.</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                </a>

                <ul class="dropdown-menu" ng-repeat="notif in notifications">
                    <li ng-hide="notifications.length == 0" ng-repeat="notif in notifications">
                        <a>
                            {{notif.text}}
                        </a>
                    </li>

                    <li ng-show="notifications.length == 0">You have no notifications</li>
                </ul>
            </li>
            
            <li>
                <img src="resources/images/tameem.jpg" class="profile-thumbnail"
                        alt="profilepic" />
            </li>

            <li class="dropdown">
            	<a class="dropdown-toggle" data-toggle="dropdown">
                    
            		<span ng-bind="user.first_name"></span>
                    <span ng-if="!user.first_name" ng-bind="user.email"></span>
    
            		<b class="caret"></b>
            	</a>
          		<ul class="dropdown-menu">
                    <li>
                        <a href="#/u/{{user.id}}">
                            View Profile
                        </a>
                    </li>    
                    <li>
                        <a href="#/">
                            Settings
                        </a>
                    </li>
                    <li>
                        <a href="logoff.php">
                            Sign Out
                        </a>
                    </li>
                </ul>
                {/literal}
            </li> <!-- End Profile li -->
           
        </ul>

    </div>    
</div>

<!-- Page content -->
<div id="wrapper">
    
    <div id="sidebar">
	        
        <div class="navbar navbar-default navbar-inverse">
            
            {literal}
            <ul class="nav navbar-nav">

                <li ng-class="{active:isPage('')}">
                    <a href="#/">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-xs">&nbsp;Home</span>
                    </a>
                </li>

                <li ng-class="{active:isPage('scheduler')}">

                    <a href="#/scheduler">
                        <span class="glyphicon glyphicon-calendar"></span>
                        <span class="hidden-xs">&nbsp;Schedule</span>
                    </a>
                    
                </li>

                <li ng-class="{active:isPage('u')}">
                    <a href="#/u/">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="hidden-xs">&nbsp;Profile</span>
                    </a>
                </li>

                <li ng-class="{active:isPage('v')}">
                    <a href="#/venues">
                        <span class="glyphicon glyphicon-globe"></span>
                        <span class="hidden-xs">&nbsp;Venues</span>
                    </a>
                </li>

                <li ng-class="{active:isPage('pay')}">
                    <a href="#/pay">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span class="hidden-xs">&nbsp;Pay</span>
                    </a>
                </li>
            </ul>
            {/literal}

        </div>
        
    </div>
    
	<div id="page-wrapper" class="container-fluid" ng-controller="MainController">
		<div class="ng-view"></div>
	</div>
</div>

{/block}