{extends file="layout.html"}

{block name="title"}Dashboard{/block}

{block name="scripts"}
{include file="scripts.partial.html"}
{/block}

{block name="main"}

<!-- Top Navbar -->
<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        
        <ul class="nav navbar-nav navbar-left">
            <li id="menu-btn">
                <a>
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
        
        {literal}
        <ul class="nav navbar-nav navbar-left hidden-xs">
            
            <li ng-class="{active:isPage('')}">
                <a href="#/">
                    Home
                </a>
            </li>
            <li ng-class="{active:isPage('calendar')}">
                <a href="#/calendar">
                    Schedule
                </a>
            </li>
            <li ng-class="{active:isPage('actors')}">
                <a href="#/actors">
                    Actors
                </a>
            </li>
            <li ng-class="{active:isPage('pay')}">
                <a href="#/pay">
                    Pay
                </a>
            </li>
        </ul>
        {/literal}
        
        <ul class="nav navbar-nav navbar-right">
            <li> 
                <img src="resources/images/OMB.png" height ="50px" />
            </li>

            {literal}

            <li>
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </a>

                <ul class="dropdown-menu">
                    <li><a>No messages to show.</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                </a>

                <ul class="dropdown-menu" ng-repeat="notif in notifications">
                    <li ng-hide="notifications.length == 0" ng-repeat="notif in notifications">
                        <a>
                            {{notif.text}}
                        </a>
                    </li>

                    <li ng-show="notifications.length == 0">You have no notifications</li>
                </ul>
            </li>

            {/literal}
            
            <li>
                <img src="resources/images/tameem.jpg" class="profile-thumbnail"
                        alt="profilepic" />
            </li>

            <li class="dropdown">
            	<a class="dropdown-toggle" data-toggle="dropdown">
            		{$user}
            		<b class="caret"></b>
            	</a>
          		
          		<ul class="dropdown-menu">
                    <li>
                        <a href="#/u/1234">
                            View Profile
                        </a>
                    </li>    
                    <li>
                        <a href="#/">
                            Settings
                        </a>
                    </li>
                    <li>
                        <a href="logoff.php">
                            Sign Out
                        </a>
                    </li>
                </ul>
            </li> <!-- End Profile li -->
           
        </ul>

    </div>    
</div>

<!-- Page content -->
<div id="wrapper">
    
    <div id="sidebar">
	        
        <div class="navbar navbar-default navbar-inverse">
            
            {literal}
            <ul class="nav navbar-nav">

                <li ng-class="{active:isPage('')}">
                    <a href="#/">
                        <span class="glyphicon glyphicon-home"></span>&nbsp;
                        <span class="hidden-xs">Home</span>
                    </a>
                </li>

                <li ng-class="{active:isPage('calendar')}">

                    <a href="#/calendar">
                        <span class="glyphicon glyphicon-calendar"></span>&nbsp;
                        <span class="hidden-xs">Schedule</span>
                    </a>

                    <!--
                    <a href="#/calendar" data-toggle="collapse" data-target="#scheduleCollapse" aria-expanded="false">
                        <span class="glyphicon glyphicon-calendar"></span>
                        <span class="hidden-xs">Schedule</span>
                    </a>
                    
                    <ul id="scheduleCollapse" class="collapse nav navbar-nav">
                        <li>
                            <a>Event</a>
                        </li>
                        <li>
                            <a>Conflicts</a>
                        </li>
                    </ul>
                    -->
                    
                </li>

                <li ng-class="{active:isPage('actors')}">
                    <a href="#/actors">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;
                        <span class="hidden-xs">Actors</span>
                    </a>
                </li>

                <li ng-class="{active:isPage('pay')}">
                    <a href="#/pay">
                        <span class="glyphicon glyphicon-tags"></span>&nbsp;
                        <span class="hidden-xs">Pay</span>
                    </a>
                </li>
            </ul>
            {/literal}

        </div>
        
    </div>
    
	<div id="page-wrapper" class="container-fluid" ng-controller="MainController">
		<div class="ng-view"></div>
	</div>
</div>

{/block}