{extends file="layout.html"}

{block name="title"}
Login
{/block}

{block name="link"}
<link href="resources/css/bootstrap.min.css" rel="stylesheet">
<link href="resources/css/normalize.css" rel="stylesheet">
<link href="resources/css/style.css" rel="stylesheet">
{/block}

{block name="main"}

<!-- Begin page content -->

<div class="container login-content">

    <div class="col-md-12">
    	<h1 class="mainhead text-center">
    		Only Make Believe Scheduler 
    		<i class="fa fa-clock-o iconcolor fa-lg"></i>
    	</h1>
    </div>

  	<div id="login-overlay" class="modal-dialog">

		<div class="modal-content">

			<!--
		  	<div class="modal-header">
		      	<h3 class="modal-title text-center" id="login-title">
		      		Only Make Believe Scheduler
		      	</h3>
		  	</div>
		  	-->

		  	<div class="modal-body">
		      	<div class="row">
		          	<div class="col-xs-12">

		          		{if $error}

		               	<div id="loginErrorMsg" class="alert alert-danger" align="center">Invalid Credentials</div>

		                 {/if}

	                  	<form id="loginForm" method="POST" action="login.php">

	                      	<div class="form-group">

	                          	<label for="email" class="control-label">Email</label>

	                          	<input type="text" class="form-control" id="email" name="email" value="" title="Please enter your email" placeholder="email" required>

	                          	<span class="help-block"></span>

	                      	</div>

	                      	<div class="form-group">

	                          	<label for="password" class="control-label">Password</label>

	                          	<input type="password" class="form-control" id="password" name="password" value="" title="Please enter your password" required>

	                          	<span class="help-block"></span>

	                      	</div>

	                      	<div class="checkbox">

	                          	<label>
	                              	<input type="checkbox" name="remember" id="remember"> Remember Me
	                          	</label>

	                      	</div>

	                      	<button type="submit" class="btn btn-primary btn-norad pull-right">Login</button>
	                      	<button type="submit" class="btn btn-danger btn-norad pull-right"><i class="fa fa-google fa-lg fa-fw"></i>Google</button>

	                      	<!--<div class="clear">&nbsp;</div>-->
	                  	</form>
	                  		<form id="registerButton" action="register.php" method="get">
	                      	<button type="submit"class="btn btn-default btn-norad pull-left">Register</button>
	                      	</form>
		          	</div>


		      	</div>

		  	</div>
		  	
		 </div>

	</div>

</div>

<div class="login-footer">
    <p class="text-muted">&#169;2015 Only Make Believe. All Rights Reserved.</p>
</div>

{/block}