	<!-- Bootstrap core JavaScript
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="resources/js/bootstrap.min.js"></script>

	<script src="resources/js/lib/angular.min.js"></script>
	<script src="resources/js/lib/angular-route.min.js"></script>

    <!--<script type="text/javascript" src="resources/js/jquery-1.11.3.min.js"></script>-->

	<!-- jQxScheduler -->	
    <link rel="stylesheet" href="resources/css/jqx.base.css" type="text/css" />
    <script type="text/javascript" src="resources/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="resources/js/demos.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxdate.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxscheduler.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxscheduler.api.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxwindow.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxnumberinput.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxradiobutton.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxinput.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/globalize.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxangular.js"></script>
    <!-- jQxScheduler -->

    <!--jqxGrid -->
    <script type="text/javascript" src="resources/js/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="resources/js/jqwidgets/jqxgrid.columnsresize.js"></script> 
    <script type="text/javascript" src="resources/js/jqwidgets/jqxgrid.filter.js"></script> 
    <script type="text/javascript" src="resources/js/jqwidgets/jqxgrid.sort.js"></script> 
    <script type="text/javascript" src="resources/js/jqwidgets/jqxgrid.pager.js"></script> 
    <script type="text/javascript" src="resources/js/jqwidgets/jqxgrid.grouping.js"></script> 
    <!--jqxGrid -->
 
    <!-- Data Tables-->
<script type="text/javascript" src="resources/js/jquery.dataTables.min.js"></script>


<script type="text/javascript" src="resources/js/jquery.dataTables.editable.js"></script>


  
    <!-- Data Tables-->

	<script type="text/javascript" src="resources/js/lib/moment.min.js"></script>
	<script type="text/javascript" src="resources/js/lib/fullcalendar.min.js"></script>
	<script type="text/javascript" src="resources/js/lib/gcal.js"></script>
  <link rel="stylesheet" href="resources/css/dataTables.jqueryui.min.css" type="text/css" />
    <link rel="stylesheet" href="resources/css/jquery-ui.css" type="text/css" />   
    <link rel="stylesheet" href="resources/css/jquery.dataTables.min.css" type="text/css" /> 

<!-- Date Picker-->
<script type="text/javascript" src="resources/js/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="resources/css/daterangepicker.css"></script>




    <script type="text/javascript" src="resources/js/app.services.js"></script>
	<script type="text/javascript" src="resources/js/main.js"></script>

