<!-- Base scripts -->
    <script type="text/javascript" src="resources/js/lib/jquery-1.11.1.min.js"></script>
    <script src="resources/js/lib/bootstrap.min.js"></script>

    <!-- Data Tables-->
    <script type="text/javascript" src="resources/js/lib/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="resources/js/lib/jquery.dataTables.editable.js"></script>

    <script src="resources/js/lib/angular.min.js"></script>
    <script src="resources/js/lib/angular-route.min.js"></script>

    <!-- angular-datatables -->
   <!-- <script src="resources/js/lib/angular-datatables.min.js"></script>-->
    

    <!-- jQxScheduler -->   
    <script type="text/javascript" src="resources/js/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxdate.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxscheduler.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxscheduler.api.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxmenu.js"></script>    
    <script type="text/javascript" src="resources/js/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxwindow.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxnumberinput.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxradiobutton.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxinput.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/globalize.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxribbon.js"></script>    
    <script type="text/javascript" src="resources/js/jqwidgets/jqxlayout.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxtabs.js"></script>
    
    <!-- jQxScheduler -->

    <!--jqxGrid -->
    <script type="text/javascript" src="resources/js/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="resources/js/jqwidgets/jqxgrid.edit.js"></script>
    <script type="text/javascript" src="resources/js/jqwidgets/jqxgrid.columnsresize.js"></script> 
    <script type="text/javascript" src="resources/js/jqwidgets/jqxgrid.filter.js"></script> 
    <script type="text/javascript" src="resources/js/jqwidgets/jqxgrid.sort.js"></script> 
    <script type="text/javascript" src="resources/js/jqwidgets/jqxgrid.pager.js"></script> 
    <script type="text/javascript" src="resources/js/jqwidgets/jqxgrid.grouping.js"></script> 
    <script type="text/javascript" src="resources/js/jqwidgets/jqxgrid.aggregates.js"></script> 
    <script type="text/javascript" src="resources/js/jqwidgets/jqxdatatable.js"></script> 
    <script type="text/javascript" src="resources/js/jqwidgets/jqxangular.js"></script>
    <!--jqxGrid -->
    
    
    <!-- Data Tables-->
    <script type="text/javascript" src="resources/js/lib/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="resources/js/lib/jquery.dataTables.editable.js"></script>
    <script type="text/javascript" src="resources/js/lib/jquery.dataTables.editable.js"></script>
    <script type="text/javascript" src="resources/js/lib/jquery.jeditable.js"></script>

    <!-- Dashboard calendar -->
    <script type="text/javascript" src="resources/js/lib/moment.min.js"></script>
    <script type="text/javascript" src="resources/js/lib/fullcalendar.min.js"></script>
    <script type="text/javascript" src="resources/js/lib/gcal.js"></script>

    <!-- Date Picker-->
    <script type="text/javascript" src="resources/js/lib/daterangepicker.js"></script>

    <!-- CUSTOM -->
    <script type="text/javascript" src="resources/js/app.js"></script>
    
    <!-- Custom Controllers -->
    <script type="text/javascript" src="resources/js/controllers/RootController.js"></script>
    <script type="text/javascript" src="resources/js/controllers/MainController.js"></script>
    <script type="text/javascript" src="resources/js/controllers/DashController.js"></script>
    <script type="text/javascript" src="resources/js/controllers/NotifController.js"></script>
    <script type="text/javascript" src="resources/js/controllers/ProfileController.js"></script>
    <script type="text/javascript" src="resources/js/controllers/VenueController.js"></script>
    <script type="text/javascript" src="resources/js/controllers/SchedulerController.js"></script>
    <script type="text/javascript" src="resources/js/controllers/PayPageController.js"></script>
    <script type="text/javascript" src="resources/js/controllers/EventMaintenanceController.js"></script>
    <script type="text/javascript" src="resources/js/controllers/AdminController.js"></script>

    <!-- Custom Directives -->
    <script type="text/javascript" src="resources/js/directives/minical.directive.js"></script>

    <!-- Custom Services -->
    <script type="text/javascript" src="resources/js/services/NotifService.js"></script>
    <script type="text/javascript" src="resources/js/services/UserService.js"></script>
    <script type="text/javascript" src="resources/js/services/ScriptService.js"></script>
    <script type="text/javascript" src="resources/js/services/VenueService.js"></script>
    <script type="text/javascript" src="resources/js/services/SchedulerService.js"></script>
    <script type="text/javascript" src="resources/js/services/EventMaintenanceService.js"></script>
    <script type="text/javascript" src="resources/js/services/ContactService.js"></script>
    <script type="text/javascript" src="resources/js/services/AddressService.js"></script>
    <script type="text/javascript" src="resources/js/services/PayPageService.js"></script>

    <!-- Custom Functions -->
    <script type="text/javascript" src="resources/js/functions/splitFunction.js"></script>

    <!-- Non angular scripts -->
    <script type="text/javascript" src="resources/js/PayPage.js"></script>
    <script type="text/javascript" src="resources/js/main.js"></script>

     <!--jqGrid -->
   
    <script type="text/javascript" src="resources/js/jqGrid/jquery.jqGrid.js"></script> 
    <script type="text/javascript" src="resources/js/jqGrid/jquery.jqGrid.min.js"></script>
     <script type="text/javascript" src="resources/js/jqGrid/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" src="resources/js/jqGrid/grid.inlinedit.js"></script>
    <script type="text/javascript" src="resources/js/jqGrid/grid.locale-en.js"></script>
    <!--jqGrid -->
