/*
AUTHOR: Tameem Imamdad
Email: timamdad@hawk.iit.edu;
*/

/* Font imports */
@font-face {
  font-family:"opensans";
  src: url('../fonts/opensan.ttf') format('truetype');
}
@font-face {
  font-family:"montserrat";
  src: url('../fonts/Montserrat-Light.ttf') format('truetype');
}
@font-face {
  font-family:"montserrat-thin";
  src: url('../fonts/Montserrat-Thin.ttf') format('truetype');
}
@font-face {
  font-family:"algoth";
  src: url('../fonts/algoth.ttf') format('truetype');
}
/* End Font imports */

/* Custom page CSS
-------------------------------------------------- */

body {
    font-family: 'Open Sans', sans-serif;
}

.panel {
    border-radius:0px;
}

.clear {
   float: none;
   clear: both;
   height: 0;
}

.profile-thumbnail {
    height: 40px;
    margin-top: 6px;
    border: 2px solid #8E1960;
    border-radius: 20px;
}


@media (max-width: 767px) {
    .header{
        text-align : center;
    }
    
}

/* Dashboard calendar */
#dash-calendar .fc-toolbar, #dash-calendar .fc-more-cell,
    #dash-calendar .fc-content-skeleton tbody {
    display:none;
}

#dash-calendar td, #dash-calendar th {
    border:none;
}

#dash-calendar .fc-widget-header {
    border-bottom:1px solid #ddd;
    border-right:none;
}

#dash-calendar .fc-body .fc-row {
    min-height:25px;
}

#dash-calendar .fc-scroller {
    overflow-y:hidden;
}

#dash-calendar .fc-highlight {
    background:#CAFB95;
}

#dash-calendar .fc-today {
    background:#A7D6FF;
    opacity:1;
}
/* End Dashboard Calendar */

.pay-sb{
  width:25%;
}
#horizontal-line{
  border-bottom: 1px solid black;
  margin-bottom: 8px;
}


/* Dashboard notifications */
.notifications-list .alert {
    margin-bottom:5px;
    cursor:pointer;
}

.notifications-list .alert-primary,
.notifications-list .alert-success,
.notifications-list .alert-info,
.notifications-list .alert-danger,
.notifications-list .alert-warning {
    background:transparent;
}
/* End Dashboard notifications */

/* Profile section */
.profile-header {
    margin:20px 0;
}

.profile-body {
    font-size:14px;
}

.profile-name {
    display:inline-block;
    max-width:600px;
    padding:10px 30px;

    font-size:44px;
    font-family:montserrat-thin, montserrat, Helvetica, sans-serif;
    font-weight:bold;
}

.profile-img {
    display:inline-block;
}

.profile-med {
    margin-top:-25px;
    width:100px;
    height:100px;
    border-radius:10px;
    box-shadow: 2px 2px 5px grey;
}

/* End profile section */

#daterange{
  width:275px;
  margin-right: 20px;
}
#half{
width:100%;

}
#example{
  width: 100%
}

/* All notifications page */
.all-notifications {
  padding:15px;
  margin-bottom:5px;
  border-bottom:1px solid lightgray;
}
.all-notifications:hover {
  background-color:#e0ebd9;
}

.notif-text {
  margin-right:20px;

}

.notif-icon {
  padding-right:15px;
}

.notification-table {

}
.notification-table tr:hover {
}

.notification-table th {
}

.notification-table input {

  margin-left:10px;
}

.notif-date {
  float:right;
}

/* End All Notifications */

/* mail */
.nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
.tab-pane .list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.tab-pane .list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.tab-pane .list-group .checkbox { display: inline-block;margin: 0px; }
.tab-pane .list-group input[type="checkbox"]{ margin-top: 2px; }
.tab-pane .list-group .glyphicon { margin-right:5px; }
.tab-pane .list-group .glyphicon:hover { color:#FFBC00; }
a.list-group-item.read { color: #222;background-color: #F3F3F3; font-weight:bold;}
hr { margin-top: 5px;margin-bottom: 10px; }
.nav-pills>li>a {padding: 5px 10px;}

.ad { padding: 5px;background: #F5F5F5;color: #222;font-size: 80%;border: 1px solid #E5E5E5; }
.ad a.title {color: #15C;text-decoration: none;font-weight: bold;font-size: 110%;}
.ad a.url {color: #093;text-decoration: none;}
/* end mail */