<div class="col-md-12">

<div class="panel panel-success">

<div class="panel-heading">
	<div class="panel-title">
		<h4>New Venue</h4>
	</div>
</div>

</div>

<div class="panel">

<div class="panel-body">

	<form class="form-default">
	
		<div class="row">
			<div class="col-sm-2 col-sm-offset-1">
				<label for="name">Name</label>
			</div>
			<div class="col-sm-9">
				<input type="text" name="name" class="form-control"/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2 col-sm-offset-1">
				<label for="location">Location</label>
			</div>
			<div class="col-sm-9">
				<input type="text" name="location" class="form-control"/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2 col-sm-offset-1">
				<label for="description">Description</label>
			</div>
			<div class="col-sm-9">
				<textarea name="description" class="form-control"></textarea>
			</div>
		</div>

		<hr/>

		<div class="row">
			<div class="col-sm-2 col-sm-offset-1">
				<label for="contact">Contact</label>
			</div>
			<div class="col-sm-9">
				<input type="text" name="contact-search" class="form-control" />

				<ul class="list-min list-selectable contact-list">
					<li>Test</li>
					<li>Filter</li>
				</ul>

				<p>
				<button class="btn btn-info">New Contact</button>
				</p>

				<!-- New Contact Menu -->
				<div class="collapse new-contact-menu">
				First Name:
				Last Name:
				Cell Number:
				Work Number:
				Home Number:
				Details:
				</div>

				<!-- Once searched, use this as true contact -->
				<input type="hidden" name="contact" value=""/>
			</div>

		</div>

		<div class="row">
			<div class="col-sm-12">
				<input type="submit" class="btn btn-success pull-right"/>
			</div>
		</div>
	</form>

</div>
</div>

</div>