<div class="col-md-12">

<div class="panel">
<div class="panel-body">

	<h3>
		New Event
	</h3>

	<form>
	
		<label for="name">Name</label>
		<input type="text" name="name" />

		<label for="location">Location</label>
		<input type="text" name="location" />

		<label for="start">Start</label>
		<input type="text" name="start" />

		<label for="end">End</label>
		<input type="text" name="end" />

		<label for="allday">All Day Event</label>
		<input type="checkbox" name="allday" />

		<label for="actors">Assign Actors</label>
		<input type="text" name="actors" />

		<!-- Add dropdown here -->

		<ul>
			<li>No actors assigned</li>
		</ul>

		<label for="description"></label>
		<textarea name="description"></textarea>

		<input type="submit" />

	</form>

</div>
</div>

</div>